*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#skills{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #10101E;
    display: flex;
    font-weight: 700;
    font-size: 13px;
}



.mission-vision{


    background: url(mission.jpg) no-repeat right;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;


}

.mission-vision .inner-container{
    width: 55%;
	height: 100%;
    float: left;
    background: #10101E;
    padding: 180px;
	animation: fr 0.7s linear 0.01s 1;
  animation-fill-mode: forwards;


}

.mission-vision .inner-container h1{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 400;
	font-family: 'Philosopher', sans-serif;
	color: white;

}


.mission-vision .inner-container h2{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 400;
	font-family: 'Philosopher', sans-serif;
    color: white;
	;
}
.mission-vision .inner-container p{

    font-size: 16px;
	font-family: 'Philosopher', sans-serif;
	color: #c2c2c2;
	font-weight: 200;
}

.text{
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
	font-family: 'Philosopher', sans-serif;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;

    }
}
